services:
  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped
  redis:
    image: redis:8.0.3
    ports:
      - "6379:6379"
    restart: unless-stopped

  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    command: uv run uvicorn src.api:app --host 0.0.0.0 --port 8000
    env_file:
      - .env
    depends_on:
      - mongo
      - redis
    restart: unless-stopped

  celery_worker:
    build: .
    command: uv run celery -A src.scheduler.celery worker -l INFO
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - mongo
    restart: unless-stopped
    
  celery_beat:
    build: .
    command: uv run celery -A src.scheduler.celery beat -l INFO
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - mongo
    restart: unless-stopped

volumes:
  mongo-data:
